@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"),Arial, Helvetica, sans-serif;
}

.bg-red-fade {
  background: transparent;
  background: linear-gradient(
    180deg,
    #E0484A 7%,
    transparent 87%
  );
  font-family: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"), Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.landing-header {
  background: linear-gradient(rgba(0, 0, 0, 0.786), rgba(0, 0, 0, 0.589)),
    url('../../public/header.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
