@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/public/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  font-family: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"),Arial, Helvetica, sans-serif;
}

.bg-red-fade {
 background: linear-gradient(
    180deg,
    #8e070987 0%,
    #9a060848 40%,
    transparent 100%
  );
  font-family: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf"), Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.landing-header {
  background: linear-gradient(rgba(0, 0, 0, 0.786), rgba(0, 0, 0, 0.589)),
    url('../../public/header.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.header-text {
  margin-bottom: 5rem;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.matches-card {
    background: linear-gradient(rgba(246, 173, 173, 0), rgba(0, 0, 0, 0)),
    url('../../public/matches.png');
  background-size: cover;
  background-position: center;
}